.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 75%;
}

.App-header {
  background-color: #c41230;
  height: 210px;
  padding: 20px;
  color: #ffffff;
}

h3 {
  font-family: Trade Gothic Bold Condensed 20;
  font-size: 30px;
  font-weight: bold;
}

h1 {
  font-family: Trade Gothic Bold Condensed 20;
  font-size: 10px;
  font-weight: bold;
}

.App-intro {
  font-size: large;
}

.Inline-button {
  position: fixed;
  right: 15px;
  top: 5px;
}
